# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++
*.user
.vs
packages
Client/GeneratedFiles
Client/x64
Server/GeneratedFiles
Server/x64
x64

# JavaScript
html5/script/closure-library
html5/script/compiler
html5/script/generated
html5/script/protobuf