# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C++
*.user
.vs
build
packages
Client/GeneratedFiles
Client/x64
Server/GeneratedFiles
Server/x64
x64

# JavaScript
html5/public/js/closure-library
html5/public/js/compiler
html5/public/js/generated
html5/public/js/protobuf
html5/node_modules
